# Report: Chose best location for new Xi'an Famous Food branch

## Introduction

**Description of the problem** Find best location in New York to open a new branch of Xi'an Famous Foods.The owners of Xi'an Famous Foods wants to open a new branch. 

They provided **10 potential locations**. Price for rental is not their concern. They consider transportation as the most important factor. 

Requirements:
1. Customers should walk to Xi'an Famous Foods within **5 minutes from public transport facilities**. 
2. The new branch should have **at least 500 m distance away from existing ones**. 

**Background** Xi'an Famous Food began as a 200 square foot basement stall in the Golden Shopping Mall in Flushing, N.Y. The original location, established in late 2005, was the first restaurant to bring the little-known cuisine of Xi’an to the United States, with signature hand-ripped noodles, secret spice mixes, and Xi’an “burgers” with housemade flatbread. Since then, we’ve expanded to multiple locations in New York’s Manhattan, Brooklyn, and Queens boroughs. [1]

## Data

**1. Geographic coordinate of ten potential locations provided by owners**

Can use Google Map API to find this information. The followings are latitude and longitude of the locations:

`40°47'27.9"N 73°58'36.1"W (40.791071, -73.976688)`

`40°47'07.7"N 73°58'17.2"W (40.785467, -73.971430)`

`40°46'12.5"N 73°57'55.7"W (40.770130, -73.965475)`

`40°44'09.2"N 73°59'34.9"W (40.735875, -73.993038)`

`40°43'17.5"N 73°59'23.8"W (40.721538, -73.989950)`

`40°44'14.9"N 73°59'08.3"W (40.737472, -73.985639)`

`40°43'28.5"N 73°57'25.0"W (40.724593, -73.956946)`

`40°44'42.0"N 73°55'01.7"W (40.745007, -73.917143)`

`40°45'16.7"N 73°49'49.3"W (40.754648, -73.830361)`

`40°47'53.4"N 73°57'41.1"W (40.798167, -73.961420)`

**2. Public transportation facility: Bus Stop and Metro Station** 

The recommended branch location needs to have convenient public transportation. These data can be found by using FourSquare API to find these venues around the location. The radius of exploration distance is set to 500 meters, which is about 5 minutes walking distance.

**3. Current geographic coordinate of existing Xi'an Famous Food branches** 

Can use Google Map API to find this information.The followings are sample locations:

*For example:*

*2675 Broadway, New York, NY 10025 `40°48'03.1"N 73°58'08.3"W (40.800869, -73.968974)`*

*37 W 54th St, New York, NY 10019 `40°45'56.3"N 73°58'38.0"W (40.765634, -73.977213)`*

......

## Methodology

* Mark potential locations of new Xi'an Famous Food branch as value **POTE**

In [62]:
display(POTE)

    latitude  longitude
0  40.791071 -73.976688
1  40.785467 -73.971430
2  40.770130 -73.965475
3  40.735875 -73.993038
4  40.721538 -73.989950
5  40.737472 -73.985639
6  40.724593 -73.956946
7  40.745007 -73.917143
8  40.754648 -73.830361
9  40.798167 -73.961420

* Mark existing locations of Xi'an Famous Food branches as value **EXIS**

In [80]:
#Show existing Xi'an Famous Food branches
display(EXIS)

                   Address   latitude   longitude
0   61-41 Main St Flushing  40.741894  -73.825248
1            34-48 56th St   40.75124  -73.906396
2        658 Manhattan Ave  40.724601  -73.950865
3         55-79 Kenmare St  40.721092  -73.996262
4          32-46 E 23rd St  40.740623  -73.987408
5             10 E 34th St  40.748152  -73.983962
6             24 W 45th St  40.755983  -73.980909
7             37 W 54th St  40.762362  -73.977283
8            328 E 78th St  40.772222  -73.954493
9            2765 Broadway  40.802071   -73.96817
10          81 St Marks Pl    40.7281  -73.985502
11            45 Bayard St  40.715257  -73.997307
12            313 6th Ave,  40.731212  -74.001927

* Set potential locations **POTE** as center, radius as 500 m (5 minutes walk distance), scan if **there is bus stop or metro station within 500 m** from the potential marks. Delete locations that does not qualify the condition. Save locations that qualify the condition as **POTE_FIT**.

In [84]:
display(POTE_FIT)

    latitude  longitude
0  40.791071 -73.976688
1  40.735875 -73.993038
2  40.721538 -73.989950
3  40.724593 -73.956946
4  40.798167 -73.961420

* Set existing locations **EXIS** as center, radius as 500 m. Scan if **POTE_FIT** is more than 500 m from the **EXIS**. Save qualified locations as **POTE_FIT2**

In [86]:
display(POTE_FIT2)

    latitude  longitude
0  40.735875 -73.993038
1  40.724593 -73.956946

* The potential locations are shown as **(POTE_FIT2)**

## Result

We found two locations match clients' need from the potential ten locations.

The addresses, latitude and longitude for two locations:

`69 5th Ave(40.735875, -73.993038)`

`9 N 15th St, (40.724593, -73.956946)`

## Discussion

In this project, our goal is to help clients to choose the best location for new branch of Xi'an Famous Food. In this case, we do not need to consider the price for rental, which simplies the problem.

The only two factors we need to consider are:

1. The convience of transportation -- 5 minutes walk to bus station or metro station (we set it as 500 m).

2. The distance of new branch from existing branches -- must be more than 500 m.

We have ten potential locations provided by clients. We found two of them match the condition above, which we can recommend to our clients.

## Conclusion

We can recommend our clients with two potential locations for new branch:

`69 5th Ave` and `9 N 15th St`.

**Reference**

[1] History of Xi'an Famous Foods https://www.xianfoods.com/about